header{
    position: sticky;
    top: 0;
    border: 0;
    nav{
        div{
            a{
                img{
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
            }
            }
        }